<template>
  <b-container>
    <h2>User</h2>
    <b-form>
      <b-form-group label="Email" label-for="email">
        <b-form-input
          v-model="login.email"
          :disabled="isLoggedIn"
          id="email"
          type="text"
          required
          placeholder="max.muster@example.com"
        />
      </b-form-group>
    </b-form>
    <h2>Address</h2>
    <b-form>
      <b-form-row>
        <b-col cols="6">
          <b-form-group label="Firstname" label-for="firstname">
            <b-form-input
              v-model="address.firstname"
              id="firstname"
              type="text"
              required
              placeholder="Max"
            />
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group label="Lastname" label-for="lastname">
            <b-form-input
              v-model="address.lastname"
              id="lastname"
              type="text"
              required
              placeholder="Muster"
            />
          </b-form-group>
        </b-col>
      </b-form-row>
      <b-form-group label="Street and Street Nr." label-for="street">
        <b-form-input
          v-model="address.addressline1"
          id="street"
          type="text"
          required
          placeholder="Grove Street 20"
        />
      </b-form-group>
      <b-form-group label="Address Line 2" label-for="addressline2">
        <b-form-input
          v-model="address.addressline2"
          id="addressline2"
          type="text"
          placeholder=""
        />
      </b-form-group>
      <b-form-row>
        <b-col cols="6">
          <b-form-group label="City" label-for="city">
            <b-form-input
              v-model="address.city"
              id="city"
              type="text"
              required
              placeholder="Winterthur"
            />
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group label="Zip Code" label-for="zip">
            <b-form-input
              v-model="address.zip"
              id="zip"
              type="text"
              required
              placeholder="8400"
            />
          </b-form-group>
        </b-col>
      </b-form-row>
    </b-form>
    <h2>Payment</h2>
    <b-form>
      <b-form-group label="Cardholder" label-for="cardholder">
        <b-form-input
          v-model="payment.cardHolder"
          id="cardholder"
          type="text"
          required
          placeholder="Max Muster"
        />
      </b-form-group>
      <b-form-group label="Card number" label-for="cardnumber">
        <b-form-input
          v-model="payment.cardNumber"
          id="cardnumber"
          type="text"
          required
          placeholder=""
        />
      </b-form-group>
      <b-form-row>
        <b-col>
          <b-form-group label="Expiration Month" label-for="expirationMonth">
            <b-form-input
              v-model="payment.expirationMonth"
              id="expirationMonth"
              type="number"
              required
              placeholder=""
            />
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Expiration Year" label-for="expirationYear">
            <b-form-input
              v-model="payment.expirationYear"
              id="expirationYear"
              type="number"
              required
              placeholder=""
            />
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="CSV" label-for="csv">
            <b-form-input
              v-model="payment.csv"
              id="csv"
              type="number"
              required
              placeholder=""
            />
          </b-form-group>
        </b-col>
      </b-form-row>
      <b-button to="/checkout/thankyou" variant="primary">Pay</b-button>
    </b-form>
  </b-container>
</template>

<script>
import { mapGetters, mapState } from "vuex";
export default {
  data() {
    return {
      login: {
        email: "",
      },
      address: {
        firstname: "",
        lastname: "",
        addressline1: "",
        addressline2: "",
        city: "",
        zip: "",
      },
      payment: {
        cardHolder: "",
        cardNumber: "",
        expirationMonth: "",
        expirationYear: "",
        csv: "",
      },
    };
  },
  computed: {
    ...mapState("user", ["user"]),
    ...mapGetters("user", ["isLoggedIn"]),
    isFormCompleted() {
      const required = (prop) => {};
      return true;
    },
  },
  created() {
    if (this.isLoggedIn) {
      this.login.email = this.user.email;
    }
  },
};
</script>

<style>
</style>