<template>
  <b-sidebar
    id="cartSidebar"
    title="Cart"
    width="500px"
    right
    shadow
    :visible="sidebarOpen"
    @change="sidebarChange"
  >
    <div class="px-3 py-2">
      <cart />
      <b-button to="/checkout" variant="primary">Checkout</b-button>
    </div>
  </b-sidebar>
</template>

<script>
import CartVue from "@/pages/cart/components/Cart.vue";
import { mapActions, mapMutations, mapState } from "vuex";
export default {
  computed: {
    ...mapState("cart", ["sidebarOpen"]),
  },
  methods: {
    ...mapMutations("cart", ["setSidebarOpen"]),
    sidebarChange(sidebarOpen) {
      this.setSidebarOpen(sidebarOpen);
    },
  },
  components: {
    Cart: CartVue,
  },
};
</script>

<style>
</style>