<template>
  <b-container>
    <h1>Cart</h1>
    <cart />
    <b-button to="/checkout/pay" variant="primary">Continue</b-button>
  </b-container>
</template>

<script>
import CartVue from "@/pages/cart/components/Cart.vue";

export default {
  components: {
    cart: CartVue,
  },
};
</script>

<style>
</style>