<template>
  <b-container v-if="state == 'paying'">
    <b-spinner style="width: 5rem; height: 5rem" />
    <p>Paying...</p>
  </b-container>
  <b-container v-else>
    <h1>Thank You!</h1>
    <b-button to="/" variant="primary">Continue Browsing</b-button>
  </b-container>
</template>

<script>
import CartVue from "@/pages/cart/components/Cart.vue";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      state: "paying",
    };
  },
  methods: {
    ...mapActions("cart", ["clearCart"]),
  },
  mounted() {
    setTimeout(() => {
      this.state = "thankyou";
      this.clearCart();
    }, Math.random() * 5000 + 3000);
  },
};
</script>

<style>
</style>