<template>
  <b-container v-if="error == ''">
    <h1>Account Activated</h1>
    Congratulations! Your account is succesfully activated. You can login now
    <b-link to="/login">here</b-link>
  </b-container>
  <b-container v-else>
    <h1>An error occured</h1>
    <p>{{ error }}</p>
    <b-button to="/register/resetPassword"
      >Try to reset your password to activate your account</b-button
    >
  </b-container>
</template>

<script>
import Routes from "@/router/Routes";
import { mapActions } from "vuex";
import { simpleFetch } from "@/model/rest/RestUtils";
export default {
  data() {
    return {
      error: "",
    };
  },
  computed: {
    hash() {
      return this.$route.params.hash;
    },
  },
  methods: {
    resendActivation() {},
  },
  mounted() {
    simpleFetch(`/user/activate/${this.hash}`, "POST")
      .statusCode(
        400,
        "The link doesn't seem to be valid. Maybe you mistyped it or waited too long"
      )
      .notOk("Something went wrong, please try again")
      .catch((e) => (this.error = e + ""));
  },
};
</script>

<style>
</style>