<template>
  <b-container v-if="step == 'reset'">
    <h1>Forgot your password?</h1>
    <b-alert :show="error != ''" variant="danger">{{ error }}</b-alert>
    <b-form @submit.prevent="resetPassword">
      <b-form-group
        label="Email:"
        label-for="email"
        description="Enter your your email"
      >
        <b-form-input id="email" v-model="form.email" type="email" required />
      </b-form-group>
      <b-button type="submit" variant="primary">Send me reset Link</b-button>
      <b-link to="/login">Remember?</b-link>
    </b-form>
  </b-container>
  <b-container v-else-if="step == 'success'">
    <h1>Success</h1>
    An email was sent!<br /><b-link to="/login">Go to Login Page</b-link>
  </b-container>
  <b-container v-else>
    <h1>Error</h1>
    Something went wrong while resetting your password. Please try again.
    <div v-if="error != ''">Error:{{ error }}</div>
  </b-container>
</template>

<script>
import Routes from "@/router/Routes";
import { mapActions } from "vuex";
import { simpleFetch } from "@/model/rest/RestUtils";
export default {
  data() {
    return {
      error: "",
      step: "reset",
      form: {
        email: "",
      },
    };
  },
  methods: {
    resetPassword() {
      simpleFetch("/user/initPasswordReset", "POST", {
        email: this.form.email,
      })
        .ok(() => (this.step = "success"))
        .notOk("A general error occured")
        .catch((e) => {
          this.error = "" + e;
          this.step = "error";
        });
    },
  },
};
</script>

<style>
</style>