<template>
  <b-container>
    <div id="login-pane">
      <b-card title="Login">
        <b-alert :show="wrongLoginAlert" variant="danger"
          >Wrong Email or Password or your account isn't activated yet</b-alert
        >
        <b-form @submit.prevent="onSubmit">
          <b-form-group
            label="Email:"
            label-for="email"
            description="Enter your your email"
          >
            <b-form-input
              id="email"
              v-model="form.email"
              type="email"
              required
            />
          </b-form-group>
          <b-form-group
            label="Password:"
            label-for="password"
            description="Enter your your password"
          >
            <b-form-input
              id="password"
              v-model="form.password"
              type="password"
              required
            />
          </b-form-group>
          <b-button type="submit" variant="primary">Login</b-button>
          <b-link to="/register/resetPassword">Forgot Password?</b-link>
          <b-link to="/register">No account?</b-link>
        </b-form>
      </b-card>
    </div>
  </b-container>
</template>

<script>
import Routes from "@/router/Routes";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      form: {
        username: "",
        password: "",
      },
      wrongLoginAlert: false,
    };
  },
  methods: {
    ...mapActions("user", ["login"]),
    async onSubmit() {
      try {
        await this.login({
          email: this.form.email,
          password: this.form.password,
        });
        // sucecss

        this.$router.replace(this.redirectTo);
      } catch (e) {
        this.form.password = "";
        console.log(e);
        // failed
        this.wrongLoginAlert = true;
      }
    },
  },
  computed: {
    redirectTo() {
      const urlParams = new URLSearchParams(location.search);
      if (urlParams.has("redirect")) {
        return urlParams.get("redirect");
      }
      return "/";
    },
  },
};
</script>

<style>
</style>