<template>
  <b-container v-if="step == 'reset'">
    <h1>Reset Password</h1>
    You can set your new password here and login afterwards;
    <b-alert :show="error != ''" variant="danger">{{ error }}</b-alert>
    <b-form @submit.prevent="resetPassword">
      <b-form-group
        label="Password:"
        label-for="password"
        description="Enter your your password"
      >
        <b-form-input
          id="password"
          v-model="form.password"
          type="password"
          required
        />
      </b-form-group>
      <b-form-group
        label="Retype Password:"
        label-for="password2"
        description="Enter your your password again"
      >
        <b-form-input
          id="password2"
          v-model="form.password2"
          type="password"
          required
        />
      </b-form-group>
      <b-button type="submit" variant="primary">Reset password</b-button>
      <b-link to="/login">Remember?</b-link>
    </b-form>
  </b-container>
  <b-container v-else-if="step == 'success'">
    <h1>Success</h1>
    Your password was successfully resetted. You can login to your account
    <b-link to="/login">here</b-link>
  </b-container>
  <b-container v-else>
    <h1>Error</h1>
    Something went wrong while resetting your password. Please try again.
    <div v-if="error != ''">Error: {{ error }}</div>
  </b-container>
</template>

<script>
import Routes from "@/router/Routes";
import { mapActions } from "vuex";
import { simpleFetch } from "@/model/rest/RestUtils";
export default {
  data() {
    return {
      error: "",
      step: "reset",
      form: {
        password: "",
        password2: "",
      },
    };
  },
  methods: {
    resetPassword() {
      // checks if the password are the same
      if (this.form.password != this.form.password2) {
        this.error = "The password don't match";
        return;
      }

      const hash = this.$route.params.hash;
      const promise = simpleFetch("/user/resetPassword/" + hash, "POST", {
        password: this.form.password,
      });
      promise
        .statusCode(400, "The link is either expired or was already used")
        .notOk("An unkown error occured")
        .ok(() => (this.step = "success"))
        .catch((e) => {
          this.error = e + "";
          this.step = "error";
        });
    },
  },
};
</script>

<style>
</style>