<template>
  <b-container v-if="step == 'register'">
    <div id="login-pane">
      <b-card title="Create new Account">
        <b-alert :show="error != ''" variant="danger">{{ error }}</b-alert>
        <b-form @submit.prevent="onSubmit">
          <b-form-group
            label="Full Name"
            label-for="name"
            description="Enter your your name"
          >
            <b-form-input id="name" v-model="form.name" type="text" required />
          </b-form-group>
          <b-form-group
            label="Email:"
            label-for="email"
            description="Enter your your email"
          >
            <b-form-input
              id="email"
              v-model="form.email"
              type="email"
              required
            />
          </b-form-group>
          <b-form-group
            label="Password:"
            label-for="password"
            description="Enter your your password"
          >
            <b-form-input
              id="password"
              v-model="form.password"
              type="password"
              required
            />
          </b-form-group>
          <b-form-group
            label="Retype Password:"
            label-for="password2"
            description="Retype your password"
          >
            <b-form-input
              id="password2"
              v-model="form.password2"
              type="password"
              required
            />
          </b-form-group>
          <b-button type="submit" variant="primary">Register</b-button>
          <b-link to="/login">have an Account</b-link>
        </b-form>
      </b-card>
    </div>
  </b-container>
  <b-container v-else-if="step == 'success'">
    <h1>Success</h1>
    <p>
      You successfully created a new Galatee account. But before you use your
      account we've sent you a mail to activate your account.
    </p>
    <b-button :to="redirectUrl">Go back</b-button>
  </b-container>
</template>

<script>
import Routes from "@/router/Routes";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      step: "register",
      error: "",
      form: {
        name: "",
        email: "",
        password: "",
        password: "",
      },
      registeredSuccessful: false,
    };
  },
  methods: {
    ...mapActions("user", ["register"]),
    async onSubmit() {
      if (this.form.password != this.form.password2) {
        this.error = "The password don't match";
        return;
      }
      try {
        const response = await this.register({
          name: this.form.name,
          email: this.form.email,
          password: this.form.password,
        });
        const status = response.status;
        if (status == "USERNAME_TAKEN") {
          this.error = "The email is already used";
        } else if (status == "SUCCESS") {
          this.step = "success";
        } else {
          this.error = "An error occured. Please try again later";
        }
      } catch (e) {
        console.log(e);
        // failed
        this.error = "An error occured. Please try again later";
      }
    },
    redirectTo() {
      this.$router.replace(this.redirectUrl);
    },
  },
  computed: {
    redirectUrl() {
      const urlParams = new URLSearchParams(location.search);
      if (urlParams.has("redirect")) {
        return urlParams.get("redirect");
      }
      return "/";
    },
  },
};
</script>

<style>
</style>