<template>
  <b-container
    ><h1>Registration Successful!</h1>
    The registration of your account was Successful. <br />To activate your
    account, click on the link in the email you will receive.
  </b-container>
</template>

<script>
import Routes from "@/router/Routes";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      error: "",
    };
  },
  methods: {},
};
</script>

<style>
</style>