<template>
  <b-navbar toggleable="lg" type="dark" variant="dark" sticky>
    <b-navbar-brand href="#">Galatee</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item to="/">Shop</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-form @submit="onSearch" v-if="!isOnSearch">
          <b-form-input
            class="mr-2"
            placeholder="Search"
            v-model="searchTerm"
          />
          <b-button variant="outline-primary" type="submit"
            ><b-icon-search
          /></b-button>
        </b-nav-form>
        <b-nav-item v-if="!isOnCheckout" v-b-toggle.cartSidebar
          >Cart</b-nav-item
        >
        <b-nav-item v-if="!isLoggedIn" to="/login" right>Login</b-nav-item>
        <b-nav-item-dropdown v-else :text="user.name">
          <b-dropdown-item @click="logout">Logout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
export default {
  data() {
    return {
      currentPath: this.$router.currentRoute,
      searchTerm: "",
    };
  },
  computed: {
    ...mapState("user", ["user"]),
    ...mapGetters("user", ["isLoggedIn"]),
    isOnCheckout() {
      return this.$route.path == "/checkout";
    },
    isOnSearch() {
      return this.$route.path == "/search";
    },
  },
  methods: {
    ...mapActions("user", ["logout"]),
    onSearch() {
      this.$router.push({ path: "/search", query: { q: this.searchTerm } });
    },
  },
};
</script>

<style>
</style>