The component which shows a product

<template>
  <b-card
    :img-src="saveProduct.images[0]"
    :img-alt="`Image of ${saveProduct.name}`"
    img-top
  >
    <b-card-title>
      <b-link class="titleLink" :to="`/product/${saveProduct.id}`">{{
        shortName
      }}</b-link>
      <b-button @click="addToCart" class="float-right" variant="primary"
        ><b-icon-cart-plus />
      </b-button>
    </b-card-title>
  </b-card>
</template>

<script>
import { mapActions, mapMutations } from "vuex";
export default {
  props: {
    product: Object,
  },
  computed: {
    /**
     * Creates a new product with default values if needed properties don't exist
     */
    saveProduct() {
      const {
        id = -1,
        images = ["/no-img.png"],
        name = "No title",
        description = "No description",
      } = this.product;
      return { id, images, name, description };
    },
    shortName() {
      if (this.saveProduct.name.length > 20) {
        return this.saveProduct.name.substr(0, 20) + "...";
      } else {
        return this.saveProduct.name;
      }
    },
  },
  methods: {
    ...mapActions("cart", ["addProduct"]),
    ...mapMutations("cart", ["setSidebarOpen"]),
    addToCart() {
      this.addProduct({ product: this.product, counterToAdd: 1 });
      this.setSidebarOpen(true);
    },
  },
};
</script>

<style>
.titleLink {
  color: black;
  text-decoration: none;
}

.titleLink:hover {
  color: black;
  text-decoration: none;
}
</style>