<template>
  <div id="app">
    <error-handler />
    <Navigation></Navigation>
    <cart-sidebar />
    <router-view />
  </div>
</template>

<script>
import NavigationVue from "./pages/common/Navigation.vue";
import Routes from "./router/Routes";
import ErrorHandlerVue from "./error/ErrorHandler.vue";
import CartSidebar from "@/pages/cart/CartSidebar.vue";
export default {
  name: "App",
  created() {
    Routes._init(this.$router);
  },
  components: {
    Navigation: NavigationVue,
    ErrorHandler: ErrorHandlerVue,
    CartSidebar,
  },
};
</script>

<style>
</style>
