A list of products which infinit scrolls and is connected to the store
<template>
  <b-container fluid>
    <b-row>
      <b-col
        cols="12"
        sm="12"
        md="6"
        lg="4"
        xl="3"
        v-for="product in products"
        :key="product.id"
      >
        <product-card class="productCard" :product="product" />
      </b-col>
    </b-row>
    <b-spinner
      class="spinner"
      label="Spinning"
      variant="primary"
      v-if="isLoading"
    />
    <b-alert :show="errorLoading" variant="dang"
      >An error occured while loading</b-alert
    >
  </b-container>
</template>

<script>
import ProductCardVue from "@/pages/product/components/ProductCard.vue";
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      requestedPage: false,
      errorLoading: false,
    };
  },
  computed: {
    ...mapState("product", ["products", "loading", "reachedEnd"]),
    isLoading() {
      return (this.loading || this.requestedPage) && !this.errorLoading;
    },
  },
  mounted() {
    window.addEventListener("scroll", this.onScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.onScroll);
  },
  methods: {
    ...mapActions("product", ["fetchNextPage"]),
    getProductId(product) {
      return product.id;
    },
    onScroll(event) {
      if (this.reachedEnd) {
        // if end is reached don't fetch new pages
        return;
      }
      const clientHeight = document.documentElement.clientHeight;
      const scrollHeight = document.documentElement.scrollHeight;
      const scrollTop = document.documentElement.scrollTop;
      if (scrollTop + clientHeight >= scrollHeight - 10 && !this.isLoading) {
        this.requestedPage = true;
        this.fetchNextPage()
          .catch(() => (this.error = true))
          .finally(() => (this.requestedPage = false));
      }
    },
  },
  components: {
    ProductCard: ProductCardVue,
  },
};
</script>

<style scoped>
.productCard {
  margin: 5px 0;
}
</style>