<template>
  <b-spinner v-if="loading" />
  <b-alert variant="danger" v-else-if="error != ''">{{ error }}</b-alert>
  <b-container fluid v-else>
    <b-row>
      <b-link to="/"><b-icon-arrow90deg-left /> back </b-link>
    </b-row>
    <b-row>
      <b-col sm="12" md="6">
        <b-carousel id="product-carousel" controls indicators>
          <b-carousel-slide
            v-for="image in product.images"
            :key="image"
            :img-src="image"
          />
        </b-carousel>
      </b-col>
      <b-col>
        <table>
          <tr>
            <td>
              <h3>{{ product.name }}</h3>
            </td>
          </tr>
          <tr>
            <td>{{ product.price }} CHF</td>
          </tr>
          <tr>
            <td>{{ product.description }}</td>
          </tr>
          <tr>
            <td>
              <b-button variant="primary" @click="addToCart"
                ><b-icon-cart-plus /> Buy</b-button
              >
            </td>
          </tr>
        </table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions, mapMutations } from "vuex";
export default {
  data() {
    return {
      product: {},
      loading: true,
      error: "",
    };
  },
  methods: {
    ...mapActions("product", ["fetchProduct"]),
    ...mapActions("cart", ["addProduct"]),
    ...mapMutations("cart", ["setSidebarOpen"]),
    addToCart() {
      this.addProduct({ product: this.product, counterToAdd: 1 });
      this.setSidebarOpen(true);
    },
  },
  computed: {
    productId() {
      return this.$route.params.id;
    },
  },
  async created() {
    try {
      let product = await this.fetchProduct(this.productId);
      this.product = product;
      this.loading = false;
    } catch (e) {
      this.error = "An error occured: " + e;
    }
  },
  components: {},
};
</script>

<style>
</style>
