<template>
  <b-card>
    <div class="d-flex">
      <b class="mr-auto">{{ shortName }}</b>
      <span class="m-2">{{ formattedPrice }} CHF </span>
      <b-spinbutton
        class=""
        v-model="value"
        :disabled="disabled"
        min="1"
        @change="onChange"
        inline
      />
      <b-button class="ml-2" variant="danger" @click="removeProduct">
        <b-icon-trash />
      </b-button>
    </div>
  </b-card>
</template>

<script>
export default {
  props: {
    productEntry: Object,
    disabled: Boolean,
  },
  data() {
    return {
      oldValue: this.productEntry.count,
      value: this.productEntry.count,
    };
  },
  computed: {
    count() {
      return this.productEntry.count;
    },
    shortName() {
      const product = this.productEntry.product;
      console.log(product);
      if (product.name.length > 20) {
        return product.name.substr(0, 20) + "...";
      } else {
        return product.name;
      }
    },
    formattedPrice() {
      return this.productEntry.product.price.toLocaleString(undefined, {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      });
    },
  },
  methods: {
    onChange(e) {
      const change = this.value - this.oldValue;
      this.$emit("change", {
        product: this.productEntry.product,
        toAdd: change,
        count: this.value,
      });
    },
    removeProduct() {
      this.$emit("remove", this.productEntry.product);
      this.value = 0;
    },
  },
  watch: {
    /**
     * Update internal data values when product Entry changes
     */
    count(newVal) {
      this.oldValue = newVal;
      this.value = newVal;
    },
  },
};
</script>

<style>
</style>