<template>
  <div>
    <ul class="cart-list">
      <li v-for="entry in cart.productEntries" :key="entry.product.id">
        <cart-entry
          :productEntry="entry"
          :disabled="loading"
          @change="onChange"
          @remove="onRemove"
        />
      </li>
      <li>
        <table>
          <tr>
            <td><b>Subtotal</b></td>
            <td class="text-right">{{ formattedTotalAmount }}</td>
            <td>CHF</td>
          </tr>
          <tr>
            <td><b>Tax</b></td>
            <td class="text-right">{{ formattedTax }}</td>
            <td>CHF</td>
          </tr>
          <tr>
            <td><b>Total</b></td>
            <td class="text-right">{{ formattedTotalAmountWithTax }}</td>
            <td>CHF</td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
</template>

<script>
import CartEntryVue from "@/pages/cart/components/CartEntry.vue";
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapState("cart", ["cart", "loading"]),
    formattedTotalAmount() {
      return this.cart.totalAmount.toLocaleString(undefined, {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      });
    },
    formattedTax() {
      return (
        this.cart.totalAmountWithTax - this.cart.totalAmount
      ).toLocaleString(undefined, {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      });
    },
    formattedTotalAmountWithTax() {
      return this.cart.totalAmountWithTax.toLocaleString(undefined, {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      });
    },
  },
  methods: {
    ...mapActions("cart", ["addProduct", "removeProductEntry"]),
    onChange(changeObj) {
      const product = changeObj.product;
      const toAdd = changeObj.toAdd;
      this.addProduct({ product: product, counterToAdd: toAdd });
    },
    onRemove(product) {
      this.removeProductEntry(product);
    },
  },
  components: {
    CartEntry: CartEntryVue,
  },
};
</script>

<style scoped>
.cart-list {
  list-style: none;
  padding: 0;
}

.cart-list > li {
  margin: 5px 0;
}
</style>