A list of products which infinit scrolls and is connected to the store
<template>
  <b-container fluid>
    <b-form class="mt-2 mb-2">
      <b-form-row>
        <b-col cols="11">
          <b-form-input
            class="mr-2"
            placeholder="Search"
            v-model="searchTerm"
          />
        </b-col>
        <b-col cols="1">
          <b-button variant="outline-primary"
            ><b-icon-search /> Search</b-button
          >
        </b-col>
      </b-form-row>
    </b-form>
    <b-row>
      <b-col
        cols="12"
        sm="12"
        md="6"
        lg="4"
        xl="3"
        v-for="product in products"
        :key="product.id"
      >
        <product-card class="productCard" :product="product" />
      </b-col>
    </b-row>
    <b-spinner
      class="spinner"
      label="Spinning"
      variant="primary"
      v-if="isLoading"
    />
    <b-alert :show="errorLoading" variant="dang"
      >An error occured while loading</b-alert
    >
  </b-container>
</template>

<script>
import ProductCardVue from "@/pages/product/components/ProductCard.vue";
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      searchTerm: "",
      timeoutId: -1,
      requestedPage: false,
      errorLoading: false,
    };
  },
  computed: {
    ...mapState("search", ["products", "loading", "reachedEnd"]),
    isLoading() {
      return (this.loading || this.requestedPage) && !this.errorLoading;
    },
    initSearchTerm() {
      return "";
    },
  },
  mounted() {
    if (this.$route.query.q != null) {
      this.searchTerm = this.$route.query.q;
    }
    if (this.searchTerm.length > 3) {
      this.search(this.searchTerm);
    }
    window.addEventListener("scroll", this.onScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.onScroll);
  },
  methods: {
    ...mapActions("search", ["fetchNextPage", "search"]),
    getProductId(product) {
      return product.id;
    },
    onScroll(event) {
      if (this.reachedEnd) {
        // if end is reached don't fetch new pages
        return;
      }
      const clientHeight = document.documentElement.clientHeight;
      const scrollHeight = document.documentElement.scrollHeight;
      const scrollTop = document.documentElement.scrollTop;
      if (scrollTop + clientHeight >= scrollHeight - 10 && !this.isLoading) {
        this.requestedPage = true;
        this.fetchNextPage()
          .catch(() => (this.error = true))
          .finally(() => (this.requestedPage = false));
      }
    },
  },
  watch: {
    searchTerm(newVal) {
      clearTimeout(this.timeoutId);
      this.timeoutId = setTimeout(() => {
        if (newVal.length > 2) {
          this.search(newVal);
        }
        if (newVal.trim() == "") {
          this.search("");
        }
      }, 700);
      this.$router
        .replace({ path: this.$route.path, query: { q: newVal } })
        .catch(() => {});
    },
  },
  components: {
    ProductCard: ProductCardVue,
  },
};
</script>

<style scoped>
.productCard {
  margin: 5px 0;
}
</style>