<template>
  <div class="listRoot" ref="listRoot">
    <b-col
      xs="12"
      sm="12"
      md="6"
      lg="3"
      xl="3"
      v-for="item in list"
      :key="getId(item)"
    >
      <slot :item="item"> </slot>
    </b-col>
    <b-spinner
      class="spinner"
      label="Spinning"
      variant="primary"
      v-if="isLoading"
    />
    <b-alert :show="errorLoading" variant="dang"
      >An error occured while loading</b-alert
    >
  </div>
</template>

<script>
export default {
  props: {
    list: Array,
    getId: Function,
    loading: {
      type: Boolean,
      default: false,
    },
    loadNextPage: {
      type: Function,
      default: () => Promise.resolve(),
    },
  },
  data() {
    return { requestedPage: false, errorLoading: false };
  },
  mounted() {
    window.addEventListener("scroll", this.onScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.onScroll);
  },
  methods: {
    onScroll(event) {
      const clientHeight = document.documentElement.clientHeight;
      const scrollHeight = document.documentElement.scrollHeight;
      const scrollTop = document.documentElement.scrollTop;
      if (scrollTop + clientHeight >= scrollHeight - 10 && !this.isLoading) {
        this.requestedPage = true;
        this.loadNextPage()
          .catch(() => (this.error = true))
          .finally(() => (this.requestedPage = false));
      }
    },
  },
  computed: {
    isLoading() {
      return (this.loading || this.requestedPage) && !this.errorLoading;
    },
  },
};
</script>

<style scoped>
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.item {
  margin: 5px 0px;
}

.spinner {
  display: table;
  margin: 0 auto;
}
</style>